@model WebServer.Models.Parameter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parameter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parameterTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parameterTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parameterLogic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parameterLogic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parameterValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parameterValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sensor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sensor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.device.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.automation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.automation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
