@model IEnumerable<WebServer.Models.Sensor>

@{
    ViewData["Title"] = "Index";
}

<h1>Sensors List</h1>
<p>Here you can see all sensors</p>
<p>
    <a asp-action="Create">Add New Sensor</a>
        <a class="back" href="/">Back to Dashboard</a>

</p>
<h2>Sensors</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sensorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.devId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sensorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.devId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room.roomTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>



</script>